@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="navbar-nav justify-content-end">
    <a asp-controller="Cart" asp-action="ViewCartDetails">
        <div class="shopping-cart-bg"></div>
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("CartCnt") == null)
        {
            <span class="badge badge-pill cart-pill">0</span>
        }
        else
        {
            <span class="badge badge-pill cart-pill">
                @HttpContextAccessor.HttpContext.Session.GetInt32("CartCnt")
            </span>
        }
    </a>
</div>