<body>
<app-carousel></app-carousel>
<div class="container mt-4">
<div class="container-fluid">
    <div class="row">
        <!-- <div *ngIf="errorMessage" class="alert alert-danger">{{errormessage}}</div> -->
        <div *ngIf="!products.length" class="alert alert-warning">No products available!</div>
        
        <!-- <div *ngFor="let product of products" class="col-md-3 col-sm-12"> -->
        <div *ngFor="let product of searchResults.length > 0 ? searchResults : products" class="col-md-3 col-sm-12">
            <div class="card text-center my-2">
                <div class="card-body">
                    <a [routerLink]="['/details', product.id]">
                        <img [src]="'/assets/' + product.imageUrl" alt="{{ product.name }}" />
                    </a>
                    <h4>
                        <label>{{ product.name }}</label>
                    </h4>
                    <p>
                        <span class="inr"></span>
                        <label class="price">{{ product.price }}</label> <!-- Format price -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>