@model Shopon.WebApp.Models.LoginVM

@{
    ViewData["Title"] = "Login";
}

<h3>Login</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <p>Don't have account?
            <a asp-controller="Account" asp-action="Register">Sign Up</a>
        </p>
    </div>
</div>


